@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* === 自定義 reset ====== */
img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}

button {
  font-family: "SF Pro Text";
  font-size: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
}
button:hover {
  opacity: 0.7;
}

input {
  font-family: "SF Pro Text";
  font-size: 16px;
}

/* === 01 顏色 ====== */
/* --- 01-1. 色系 --- */
/* --- 01-2. 背景色 --- */
.bg-primary {
  background-color: #916019;
}

.bg-light {
  background-color: #E0E0E0;
}

/* --- 01-3. 文字顏色 --- */
.color-primary {
  color: #916019;
}

.color-secondary {
  color: #8D8D8D;
}

.color-link {
  color: #AC8A46;
}

.black {
  color: #000000;
}

.white {
  color: #FFFFFF;
}

/* === 02 字體 ====== */
/* --- 02-1. 字級 --- */
.fs-0 {
  font-size: 12px;
}

.fs-1 {
  font-size: 14px;
}

.fs-2 {
  font-size: 20px;
}

.fs-3 {
  font-size: 24px;
}

.fs-4 {
  font-size: 28px;
}

.fs-5 {
  font-size: 32px;
}

.fs-6 {
  font-size: 40px;
}

/* --- 02-2. 字重 --- */
.fw-light {
  font-weight: 300;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

/* === 03 border-box ====== */
*, *::before, *::after {
  box-sizing: border-box;
}

/* {
    outline: 1px solid yellowgreen;
}*/
/* === 04 全站樣式 ====== */
body {
  font-family: "SF Pro Text", "PingFang TC", "Segoe UI", sans-serif;
  line-height: 1.5;
  color: #000000;
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.material-icons {
  vertical-align: middle;
  font-size: 20px;
}

/* === 01 flex ====== */
.d-flex {
  display: flex;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.ms-auto {
  margin-left: auto;
}

.me-auto {
  margin-right: auto;
}

.m0-auto {
  margin: 0 auto;
}

/* === 02 margin ====== */
/* --- 02-1. margin-right (4的倍數) --- */
.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.mr-5 {
  margin-right: 20px;
}

.mr-7 {
  margin-right: 28px;
}

.mr-8 {
  margin-right: 32px;
}

/* --- 02-2. margin-bottom (4的倍數) --- */
.mb-0 {
  margin-bottom: 2px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-13 {
  margin-bottom: 52px;
}

.mb-15 {
  margin-bottom: 60px;
}

/* === 03 刪除線 ====== */
.text-decoration-line-through {
  text-decoration: line-through;
}

/* --- header 表頭 --- */
.header {
  padding: 9px 0;
}
.header h1 {
  float: left;
}
.header h1 a {
  background-image: url(../images/d’Perfume.png);
  width: 128px;
  height: 38px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

/* --- 767px mobile-nav --- */
.mobile-nav {
  display: none;
}

/* --- subscribe 訂閱 --- */
.subscribe {
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.subscribe .wrap {
  padding: 312px 0 112px;
  height: 100%;
}
.subscribe .subscribe-text {
  width: 350px;
}
.subscribe .subscribe-text .input-email {
  width: 62.85%;
  color: #8D8D8D;
  padding: 18px 0 18px 18px;
  background-color: #FFFFFF;
  border: 2px solid #916019;
  border-radius: 4px 0 0 4px;
}
.subscribe .subscribe-text .input .btn-subscribe {
  width: 37.15%;
  padding: 18px 0;
  background-color: #916019;
  border: 2px solid #916019;
  border-radius: 0 4px 4px 0;
}

/* --- footer 表尾 --- */
.footer {
  background-color: #916019;
}
.footer .wrap {
  padding: 21px 0;
}
.footer .wrap .copyright img {
  height: 38px;
}
.footer .wrap .subnav a {
  padding: 0 18px;
}

@media (max-width: 992px) {
  .header {
    padding: 9px 20px;
  }
  .subscribe .wrap {
    padding: 312px 15px 112px;
  }
  .footer .wrap {
    padding: 21px 15px;
  }
}
@media (max-width: 767px) {
  .desk-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
  }
  .mobile-nav .menu-icon {
    position: relative;
  }
  .mobile-nav .menu-icon .quantity {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    background-color: #916019;
    border-radius: 7px;
    text-align: center;
    z-index: 1;
  }
  .subscribe .subscribe-text {
    width: 100%;
  }
  .subnav {
    display: none;
  }
}
/* --- banner 橫幅 --- */
.banner {
  height: 870px;
  background-image: url("https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2064&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner .wrap {
  padding: 295px 0;
  height: 100%;
}
.banner .wrap .slogan {
  max-width: 445px;
}
.banner .wrap .slogan .btn-shopnow {
  padding: 9px 109px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
}
.banner .wrap .slogan .btn-shopnow:hover {
  background-color: #916019;
  border: 2px solid #916019;
}

/* --- main 主頁 --- */
.main {
  padding: 60px 0;
}
.main .card {
  width: 100%;
}
.main .card .card-text {
  width: 50%;
}
.main .card .card-text .textBox {
  text-align: left;
  width: 63%;
}
.main .card .card-text .textBox .btn-freeTrain {
  padding: 15px 52px;
  border: 2px solid #000000;
  border-radius: 30px;
}
.main .card .card-text .textBox .btn-freeTrain:hover {
  color: #FFFFFF;
  background-color: #916019;
  border: 2px solid #916019;
}
.main .card .card-photo {
  width: 50%;
  height: 555px;
  overflow: hidden;
}
.main .card .card-photo a:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
.main li:nth-child(1) img {
  height: 740px;
  -o-object-position: 0 -30px;
     object-position: 0 -30px;
}
.main li:nth-child(2) img {
  width: 555px;
}
.main li:nth-child(3) img {
  height: 555px;
  -o-object-position: 0 50%;
     object-position: 0 50%;
}
.main li:nth-child(4) .card-photo,
.main li:nth-child(4) .card-photo img {
  height: 1080px;
}

/* --- bestselling 熱門 --- */
.bestselling {
  padding: 40px 0;
}
.bestselling .bestselling-item {
  width: 33.33%;
  overflow: hidden;
}
.bestselling .bestselling-item a {
  color: #000000;
}
.bestselling .bestselling-item img {
  height: 540px;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.bestselling .bestselling-item .mask {
  position: relative;
  width: 100%;
  height: 540px;
  margin-bottom: 8px;
}
.bestselling .bestselling-item .mask::before {
  content: "Sold out";
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  z-index: 3;
}
.bestselling .bestselling-item .mask::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 1;
}
.bestselling li:nth-child(2) li:last-child,
.bestselling li:nth-child(3) li:last-child {
  display: none;
}

/* --- news 消息 --- */
.news {
  padding: 60px 0;
}
.news .news-photo {
  width: 66.66%;
}
.news .news-photo img {
  height: 520px;
}
.news .news-text {
  width: 33.33%;
}

@media (max-width: 992px) {
  .banner .wrap {
    padding: 295px 15px;
  }
  .main .card .card-text .btn-freeTrain {
    width: 100%;
    padding: 15px;
  }
  .main .card-text .textBox {
    width: 73%;
  }
  .main .card-text .textBox p {
    margin-bottom: 20px;
  }
  .bestselling {
    padding: 40px 15px;
  }
  .news {
    padding: 60px 15px;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 480px;
  }
  .banner .wrap {
    padding: 118px 15px;
  }
  .banner .wrap .slogan {
    margin: 0 auto;
  }
  .banner .wrap .slogan h2 {
    font-size: 32px;
  }
  .banner .wrap .slogan p {
    font-size: 20px;
  }
  .banner .wrap .slogan .btn-shopnow {
    width: 100%;
    padding: 9px;
  }
  .main {
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
  }
  .main .card {
    flex-wrap: wrap;
  }
  .main .card .card-text {
    width: 100%;
    padding: 8px 0 32px;
    order: 2;
  }
  .main .card .card-text .textBox {
    width: 93%;
  }
  .main .card .card-text .textBox p {
    margin-bottom: 8px;
  }
  .main .card .card-text .textBox .btn-freeTrain {
    width: 100%;
    padding: 15px;
  }
  .main .card .card-photo {
    width: 100%;
    order: 1;
  }
  .main .card .card-photo img {
    width: 737px;
  }
  .main li:nth-child(3) img {
    height: 737px;
  }
  .bestselling {
    padding: 30px 15px;
    flex-direction: column;
  }
  .bestselling .bestselling-item {
    width: 100%;
    padding: 0 0 20px;
    overflow: hidden;
  }
  .bestselling .bestselling-item img {
    width: 737px;
  }
  .bestselling .bestselling-item p {
    margin-bottom: 4px;
  }
  .bestselling .bestselling-item .mask {
    height: 660px;
  }
  .bestselling li:nth-child(3) img {
    height: 660px;
  }
  .news {
    padding: 40px 15px;
    flex-direction: column;
    justify-content: center;
  }
  .news .news-photo {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .news .news-text {
    width: 100%;
  }
  .news .news-text p {
    margin-bottom: 8px;
  }
}
@media (max-width: 414px) {
  .main .card .card-photo {
    height: 384px;
  }
  .main .card .card-photo img {
    width: 384px;
  }
  .main li:nth-child(3) img {
    height: 384px;
  }
  .main li:nth-child(4) .card-photo,
  .main li:nth-child(4) .card-photo img {
    height: 520px;
  }
  .bestselling .bestselling-item img {
    height: 350px;
  }
  .bestselling .bestselling-item .mask {
    height: 350px;
  }
  .bestselling li:nth-child(3) img {
    height: 350px;
  }
}
/* --- menu 選單 --- */
.menu {
  padding: 11px 0;
}

/* --- product 商品 --- */
.product {
  padding: 80px 0 78px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 58px;
}
.product .item-photo {
  max-width: 255px;
  height: 255px;
  overflow: hidden;
}
.product .item-photo a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.product li:nth-child(1) img,
.product li:nth-child(2) img,
.product li:nth-child(3) img,
.product li:nth-child(5) img,
.product li:nth-child(10) img {
  height: 400px;
  -o-object-position: 50% -50px;
     object-position: 50% -50px;
}
.product li:nth-child(4) img,
.product li:nth-child(7) img,
.product li:nth-child(9) img,
.product li:nth-child(11) img {
  height: 350px;
  -o-object-position: 50% -25px;
     object-position: 50% -25px;
}
.product li:nth-child(6) img,
.product li:nth-child(8) img,
.product li:nth-child(12) img {
  height: 260px;
}
.product li:nth-child(3) li:last-child,
.product li:nth-child(4) li:last-child,
.product li:nth-child(7) li:last-child,
.product li:nth-child(8) li:last-child,
.product li:nth-child(11) li:last-child,
.product li:nth-child(12) li:last-child {
  display: none;
}

/* --- pagination 分頁 --- */
.pagination {
  padding: 0 0 60px;
}
.pagination a {
  width: 30px;
  text-align: center;
}
.pagination a:hover {
  color: #AC8A46;
  border-bottom: 2px solid #AC8A46;
}

@media (max-width: 992px) {
  .menu {
    padding: 14px 15px;
  }
  .product {
    padding: 80px 15px 78px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 9px 20px;
  }
  .bg-primary {
    display: none;
  }
  .product {
    padding: 42px 15px 46px;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 30px;
  }
  .product .item-photo {
    max-width: 361px;
    height: 361px;
  }
  .product li:nth-child(1) img,
  .product li:nth-child(2) img,
  .product li:nth-child(3) img,
  .product li:nth-child(5) img,
  .product li:nth-child(10) img {
    width: 400px;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  .product li:nth-child(4) img,
  .product li:nth-child(7) img,
  .product li:nth-child(9) img,
  .product li:nth-child(11) img {
    height: 490px;
    -o-object-position: 0 -60px;
       object-position: 0 -60px;
  }
  .product li:nth-child(6) img,
  .product li:nth-child(8) img,
  .product li:nth-child(12) img {
    height: 380px;
  }
  .pagination {
    padding: 0 0 40px;
  }
}
@media (max-width: 414px) {
  .product .item-photo {
    max-width: 184px;
    height: 184px;
  }
  .product li:nth-child(1) img,
  .product li:nth-child(2) img,
  .product li:nth-child(3) img,
  .product li:nth-child(5) img,
  .product li:nth-child(10) img {
    width: 190px;
    -o-object-position: 50% -100px;
       object-position: 50% -100px;
  }
  .product li:nth-child(4) img,
  .product li:nth-child(7) img,
  .product li:nth-child(9) img,
  .product li:nth-child(11) img {
    width: 184px;
    -o-object-position: 50% -100px;
       object-position: 50% -100px;
  }
  .product li:nth-child(6) img,
  .product li:nth-child(8) img,
  .product li:nth-child(12) img {
    height: 184px;
  }
  .product h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
}