@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- 顏色 -- */
/* -- 背景顏色 -- */
.bg-light {
  background-color: #E0E0E0;
}

/* -- 文字顏色 -- */
.color-primary {
  color: #916019;
}

.color-secondary {
  color: #8D8D8D;
}

.color-light {
  color: #AC8A46;
}

.black {
  color: #000000;
}

.white {
  color: #FFFFFF;
}

/* -- 字級 -- */
.fs-1 {
  font-size: 14px;
}

.fs-2 {
  font-size: 20px;
}

.fs-3 {
  font-size: 24px;
}

.fs-4 {
  font-size: 28px;
}

.fs-5 {
  font-size: 32px;
}

.fs-6 {
  font-size: 40px;
}

/* -- 字重 -- */
.fw-light {
  font-weight: 300;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.SF-14m {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
}

.SF-16l {
  font-family: SF Pro Text;
  font-weight: 300;
}

.SF-16m {
  font-family: SF Pro Text;
  font-weight: 500;
}

.SF-20l {
  font-family: SF Pro Text;
  font-size: 20px;
  font-weight: 300;
}

.SF-20 {
  font-family: SF Pro Text;
  font-size: 20px;
}

.SF-20m {
  font-family: SF Pro Text;
  font-size: 20px;
  font-weight: 500;
}

.SF-24 {
  font-family: SF Pro Text;
  font-size: 24px;
}

.SF-24sb {
  font-family: SF Pro Text;
  font-size: 24px;
  font-weight: 600;
}

.SF-28m {
  font-family: SF Pro Text;
  font-size: 28px;
  font-weight: 500;
}

.SF-32b {
  font-family: SF Pro Text;
  font-size: 32px;
  font-weight: 700;
}

.SF-40b {
  font-family: SF Pro Text;
  font-size: 40px;
  font-weight: 700;
}

.PF-16sb {
  font-family: PingFang TC;
  font-weight: 600;
}

.PF-20l {
  font-family: PingFang TC;
  font-size: 20px;
  font-weight: 300;
}

.PF-32sb {
  font-family: PingFang TC;
  font-size: 32px;
  font-weight: 600;
}

/* -- 字體樣式 -- */
.text-decoration-line-through {
  text-decoration: line-through;
}

/* -- 排版 -- */
.d-flex {
  display: flex;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.me-auto {
  margin-right: 0 auto;
}

/* -- 間距 -- */
.mr-1 {
  margin-right: 4px;
}

.mr-11 {
  margin-right: 11px;
}

.mr-8 {
  margin-right: 32px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-13 {
  margin-bottom: 52px;
}

.mb-15 {
  margin-bottom: 60px;
}

.gap-8 {
  gap: 8px;
}

/* -- 共同架構 -- */
* {
  outline: 1px solid yellowgreen;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang TC", "SF Pro Text", "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #000000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}
button:hover {
  opacity: 0.5;
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.material-icons {
  vertical-align: middle;
  font-size: 20px;
}

/* -- header -- */
.header {
  padding: 9px 0;
}
.header h1 {
  float: left;
}
.header h1 a {
  background-image: url(/images/d’Perfume.png);
  width: 128px;
  height: 38px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.desk-nav {
  font-family: "SF Pro Text";
}

/* -- 768 mobile-nav -- */
.mobile-nav {
  display: none;
}

/* -- subscribe -- */
.subscribe {
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.subscribe .wrap {
  height: 600px;
  padding: 312px 0 112px;
}
.subscribe .wrap .subscribe-text {
  margin-right: auto;
}

.input {
  display: flex;
}
.input-email {
  padding: 18px 56px 18px 18px;
  background-color: #FFFFFF;
  border: 2px solid #916019;
  border-radius: 4px 0 0 4px;
}
.input .btn-subscribe {
  padding: 18px 26px;
  background-color: #916019;
  border: 2px solid #916019;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
}

/* -- footer -- */
.footer {
  background-color: #916019;
}
.footer .wrap {
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .wrap .copyright {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .wrap .copyright img {
  height: 38px;
}
.footer .wrap .subnav {
  display: flex;
}
.footer .wrap .subnav a {
  padding: 0 18px;
}

/* -- 1110 -- */
@media (max-width: 1109.98px) {
  .header {
    padding: 9px;
  }
  .subscribe-text {
    padding: 21px;
  }
  .footer-bottom .wrap {
    padding: 21px;
  }
}
/* -- 768 -- */
@media (max-width: 767.98px) {
  .header {
    padding: 9px 20px;
  }
  .desk-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
    gap: 28px;
  }
  .mobile-nav .shopping-cart {
    width: 30px;
    position: relative;
  }
  .mobile-nav .shopping-cart .quantity {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    background-color: #916019;
    border-radius: 7px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    z-index: 1;
  }
  .subscribe-text {
    width: 100%;
    margin: 0 auto;
  }
}
.banner {
  height: 870px;
  background-image: url("https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2064&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner .wrap {
  height: 870px;
  padding: 295px 0;
}
.banner .wrap .slogan {
  margin-left: auto;
  width: 445px;
}
.banner .wrap .slogan .btn-shopnow {
  padding: 9px 109px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
}
.banner .wrap .slogan .btn-shopnow:hover {
  background-color: #916019;
  border: 2px solid #916019;
}

.main {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 555px 555px 555px 1080px;
}
.main .card {
  display: flex;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text .textBox {
  text-align: left;
  width: 64%;
}
.text .textBox .btn-freeTrain {
  padding: 15px 52px;
  border: 2px solid #000000;
  border-radius: 30px;
}
.text .textBox .btn-freeTrain:hover {
  background-color: #916019;
  color: #fff;
  border: 2px solid #916019;
}

.photo {
  width: 50%;
  overflow: hidden;
}
.photo .photoBox {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
.photo .photoBox:hover {
  transform: scale(1.2);
}

.bestselling {
  padding: 40px 0;
  display: flex;
  gap: 30px;
}
.bestselling .item-bestselling {
  width: 33.33%;
  overflow: hidden;
}
.bestselling .item-bestselling a {
  color: #000000;
}
.bestselling .item-bestselling img {
  height: 540px;
}
.bestselling .mask {
  position: relative;
  width: 100%;
  height: 540px;
  margin-bottom: 8px;
}
.bestselling .mask::before {
  content: "Sold out";
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 3;
}
.bestselling .mask::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 1;
}

.news {
  padding: 60px 0;
  display: flex;
  align-items: center;
  gap: 30px;
}
.news .news-photo {
  width: 66.66%;
}
.news .news-photo img {
  height: 520px;
}
.news .news-text {
  width: 33.33%;
}

/* -- 1110 -- */
@media (max-width: 1109.98px) {
  .main {
    grid-template-columns: 100%;
  }
  .textBox p {
    margin-bottom: 30px;
  }
}
/* -- 768 -- */
@media (max-width: 767.98px) {
  .banner {
    height: 480px;
  }
  .banner .wrap {
    padding: 118px 15px;
  }
  .banner .wrap .slogan {
    margin: 0 auto;
  }
  .banner .wrap .slogan h2 {
    font-size: 32px;
  }
  .banner .wrap .slogan p {
    font-size: 20px;
  }
  .banner .wrap .slogan .btn-shopnow {
    width: 100%;
    padding: 9px;
  }
  .main {
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .main .card {
    flex-wrap: wrap;
  }
  .main .card .text {
    width: 100%;
    order: 2;
  }
  .main .card .text .textBox {
    width: 90%;
  }
  .main .card .text .textBox p {
    margin-bottom: 8px;
  }
  .main .card .text .textBox .btn-freeTrain {
    width: 100%;
    padding: 15px;
  }
  .main .card .photo {
    width: 100%;
    height: 350px;
    order: 1;
    margin-bottom: 8px;
  }
  .main .card .h-680 {
    height: 680px;
  }
  .bestselling {
    padding: 30px 15px;
    flex-direction: column;
    gap: 32px;
  }
  .bestselling .item-bestselling {
    width: 100%;
    overflow: hidden;
  }
  .bestselling .item-bestselling img {
    width: 100%;
    height: 540px;
    margin-top: -30%;
  }
  .bestselling .item-bestselling .mask::before {
    top: 68%;
  }
  .news {
    padding: 40px 15px;
    flex-direction: column;
    gap: 8px;
  }
  .news .news-photo {
    width: 100%;
  }
  .news .news-photo img {
    height: 520px;
  }
  .news .news-text {
    width: 100%;
  }
  .news .news-text p {
    margin-bottom: 8px;
  }
  .input-email {
    width: 66.66%;
  }
  .input .btn-subscribe {
    width: 33.33%;
  }
  .subnavBox {
    display: none;
  }
}
.menu {
  display: flex;
  gap: 28px;
}
.menu button {
  padding: 14px;
}
.menu li:nth-child(1) button {
  padding: 14px 14px 14px 0;
}

.product {
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 58px;
}
.product .item-product > .photoBox {
  width: 255px;
  height: 255px;
  overflow: hidden;
}
.product .item-product > .photoBox img {
  width: 500px;
}