@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 1px solid yellowgreen;
}

/* -- 顏色 -- */
/* -- 背景顏色 -- */
.bgc-gl {
  background-color: #E0E0E0;
}

.bgc-bd {
  background-color: #916000;
}

/* -- 文字顏色 -- */
.brown-dark {
  color: #916000;
}

.brown-light {
  color: #AC8A46;
}

.grey-dark {
  color: #8D8D8D;
}

.grey-light {
  color: #E0E0E0;
}

.black {
  color: #000000;
}

.white {
  color: #FFFFFF;
}

/* -- 文字大小 -- */
.SF-14m {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
}

.SF-16l {
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 300;
}

.SF-16m {
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 500;
}

.SF-20l {
  font-family: SF Pro Text;
  font-size: 20px;
  font-weight: 300;
}

.SF-20 {
  font-family: SF Pro Text;
  font-size: 20px;
  font-weight: 400;
}

.SF-20m {
  font-family: SF Pro Text;
  font-size: 20px;
  font-weight: 500;
}

.SF-24 {
  font-family: SF Pro Text;
  font-size: 24px;
  font-weight: 400;
}

.SF-24sb {
  font-family: SF Pro Text;
  font-size: 24px;
  font-weight: 600;
}

.SF-28m {
  font-family: SF Pro Text;
  font-size: 28px;
  font-weight: 500;
}

.SF-32b {
  font-family: SF Pro Text;
  font-size: 32px;
  font-weight: 700;
}

.SF-40b {
  font-family: SF Pro Text;
  font-size: 40px;
  font-weight: 700;
}

.PF-16sb {
  font-family: PingFang TC;
  font-size: 16px;
  font-weight: 600;
}

.PF-20l {
  font-family: PingFang TC;
  font-size: 20px;
  font-weight: 300;
}

.PF-32sb {
  font-family: PingFang TC;
  font-size: 32px;
  font-weight: 600;
}

/* -- 字體樣式 -- */
.td-lt {
  text-decoration: line-through;
}

/* -- 排版 -- */
.ta-left {
  text-align: left;
}

.d-flex {
  display: flex;
}

.flexD-rr {
  flex-direction: row-reverse;
}

/* -- 間距 -- */
.mr-3 {
  margin-right: 3px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-52 {
  margin-bottom: 52px;
}

.gap-8 {
  gap: 8px;
}

/* -- 共同架構 -- */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang TC", "SF Pro Text", "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #000000;
}

img {
  display: block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}

button {
  background-color: transparent;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.wrap {
  width: 1110px;
  margin: 0 auto;
}

.material-icons {
  vertical-align: middle;
  font-size: 20px;
}

.header {
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 128px;
}

.desk-nav {
  display: flex;
  gap: 32px;
}

.banner {
  height: calc(100vh - 56px);
  background: url(https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2064&q=80) center center;
  background-size: cover;
}
.banner .wrap {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.slogan {
  width: 445px;
}
.slogan .btn-shopnow {
  padding: 13px 109px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
}
.slogan .btn-shopnow:hover {
  background-color: #916000;
  border: 1px solid #916000;
}

.main {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1110px;
  grid-template-rows: 555px 555px 555px 1080px;
}
.main .card {
  display: flex;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textBox {
  text-align: left;
  width: 64%;
}
.textBox .btn-freeTrain {
  padding: 18px 52px;
  border: 2px solid #000000;
  border-radius: 30px;
}
.textBox .btn-freeTrain:hover {
  background-color: #916000;
  color: #fff;
  border: 1px solid #916000;
}

.photo {
  width: 50%;
  overflow: hidden;
}

.photoBox {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}
.photoBox:hover {
  transform: scale(1.2);
}

.bestselling {
  padding: 40px 0;
  display: flex;
  gap: 30px;
}
.bestselling .item {
  width: 33.33%;
  overflow: hidden;
}
.bestselling .item a {
  color: #000000;
}
.bestselling .item img {
  height: 540px;
}
.bestselling .soldout {
  position: relative;
}
.bestselling .soldout p {
  position: absolute;
  width: 160px;
  text-align: center;
  top: 252px;
  left: 95px;
  z-index: 2;
}
.bestselling .soldout::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 540px;
  background-color: #000000;
  opacity: 0.3;
  z-index: 1;
}

.news {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 520px;
  grid-column-gap: 30px;
}
.news .textBox {
  padding: 82px 0;
  width: 100%;
}
.news .textBox a {
  color: #000000;
}