/* -- header -- */
.header {
    padding: 9px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        float: left;
        a {
            background-image: url(/images/d’Perfume.png);
            width: 128px;
            height: 38px;
            display: block;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
.desk-nav {
    display: flex;
    gap: 32px;
}
/* -- 768 mobile-nav -- */
.mobile-nav {
    display: none;
}

/* -- footer -- */
.footer-top {
    height: 600px;
    background-image: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
    .wrap {
        height: 600px;
        padding: 312px 0 112px;
        .subscribe {
            margin-right: auto;
        }
    }
}
.input {
    display: flex;
    &-email {
        padding: 18px 56px 18px 18px;
        background-color: $white;
        border: 2px solid $color-primary;
        border-radius: 4px 0 0 4px;
    }
    .btn-subscribe {
        padding: 18px 26px;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        border-radius: 0 4px 4px 0;
        font-size: 16px;
    }
}
.footer-bottom {
    background-color: $color-primary;
    .wrap {
        padding: 21px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .copyright {
            display: flex;
            align-items: center;
            gap: 20px;
            img {
                height: 38px;
            }
        }
        .subnav {
            display: flex;
            a {
                padding: 0 18px;
            }
        }
    }
}  

/* -- 1110 -- */
@media (max-width: 1109.98px) {
    .header {
        padding: 9px;
    }
    .subscribe {
       padding: 21px;
    }
    .footer-bottom {
        .wrap {
            padding: 21px;
        }
    }
}

/* -- 768 -- */
@media (max-width: 767.98px) {
    .header {
        padding: 9px 20px;
    }
    .desk-nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
        gap: 28px;
        .shopping-cart {
            width: 30px;
            position: relative;
            .quantity {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 5px;
                background-color: $color-primary;
                border-radius: 7px;
                color: $white;
                font-size: 12px;
                text-align: center;
                z-index: 1;
            }
        }
    }
    .subscribe {
        width: 100%;
        margin: 0 auto;
    }
}