/* --- header 表頭 --- */
.header {
    padding: 9px 0;
    h1 {
        float: left;
        a {
            background-image: url(/images/d’Perfume.png);
            width: 128px;
            height: 38px;
            display: block;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
/* --- 767px mobile-nav --- */
.mobile-nav {
    display: none;
}

/* --- subscribe 訂閱 --- */
.subscribe {
    height: 600px;
    background-image: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
    .wrap {
        padding: 312px 0 112px;
        height: 100%;
    }
    .subscribe-text {
        max-width: 350px;
    }
}
.input {
    &-email {
        width: 62.85%;
        color: $color-secondary;
        padding: 18px 0 18px 18px;
        background-color: #FFFFFF;
        border: 2px solid $color-primary;
        border-radius: 4px 0 0 4px;
    }
    .btn-subscribe {
        width: 37.15%;
        padding: 18px 0;
        background-color: $color-primary;
        border: 2px solid $color-primary;
        border-radius: 0 4px 4px 0;
    }
}

/* --- footer 表尾 --- */
.footer {
    background-color: $color-primary;
    .wrap {
        padding: 21px 0;
        .copyright img {
            height: 38px;
        }
        .subnav a {
            padding: 0 18px;
        }
    }
}  

@media (max-width: 992px) {
    .header {
        padding: 9px 15px;
    }
    .subscribe .wrap {
        padding: 312px 15px 112px;
    }
    .footer .wrap {
        padding: 21px 15px;
    }
}

@media (max-width: 767px) {
    .desk-nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
        align-items: center;
        .menu-icon {
            position: relative;
            width: 32px;
            .quantity {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 5px;
                background-color: $color-primary;
                border-radius: 7px;
                color: #FFFFFF;
                font-size: 12px;
                text-align: center;
                z-index: 1;
            }
        }
    }
    .subscribe-text {
        width: 100%;
    }
}