/* --- banner 橫幅 --- */
.banner {
    height: 870px;
    background-image: url("https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2064&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .wrap {
        padding: 295px 0;
        height: 100%;
        .slogan {
            max-width: 445px;
            .btn-shopnow {
                padding: 9px 109px;
                border: 2px solid #FFFFFF;
                &:hover {
                    background-color: $color-primary;
                    border: 2px solid $color-primary;
                }
            }
        }
    }
}

/* --- main 主頁 --- */
.main {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 555px 555px 555px 1080px;
    .card-text {
        width: 50%;
        .textBox {
            text-align: left;
            width: 64%;
            .btn-freeTrain {
                padding: 15px 52px;
                border: 2px solid #000000;
                &:hover {
                    color: #FFFFFF;
                    background-color: $color-primary;
                    border: 2px solid $color-primary;
                }
            }
        }
    }
    .card-photo {
        width: 50%;
        overflow: hidden;
        a:hover {
            transform: scale(1.2);
            transition: all 0.5s ease-in-out;
        }
        img {
            width: 100%;
            object-position: 50% 50%;
        }
    }   
    li:nth-child(1) .card-photo img {
        object-position: 0 14%;
    }
    li:nth-child(3) .card-photo img {
        object-position: 0 50%;
    } 
}

/* --- bestselling 熱門 --- */
.bestselling {
    padding: 40px 0;
    .bestselling-item {
        width: 33.33%;
        overflow: hidden;
        a {
            color: #000000;
        }
        img {
            height: 540px;   
        }
    }
    .mask {
        position: relative;
        width: 100%;
        height: 540px;
        margin-bottom: 8px;
        &::before {
            content:"Sold out";
            position: absolute;
            font-size: 24px;
            font-weight: 600;
            color: #FFFFFF;
            text-align: center;
            top: 50%;
            right: 0;
            bottom: 50%;
            left: 0;
            z-index: 3;
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0.3;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }
    
}

/* --- news 消息 --- */
.news {
    padding: 60px 0; 
    .news-photo {
        width: 66.66%;
        img {
            height: 520px;
        }
    }   
    .news-text {
        width: 33.33%;
    }
}

@media (max-width: 992px) {
    .banner .wrap {
        padding: 295px 15px;
    }
    .main .card .card-text .btn-freeTrain {
        width: 100%;
        padding: 15px;
    }
    .bestselling {
        padding: 40px 15px;
    }
    .news {
        padding: 60px 15px;
    }
}

@media (max-width: 767px) {
    .banner {
        height: 480px;
        .wrap {
            padding: 118px 15px;
            .slogan {
                margin: 0 auto;
                h2 {
                    font-size: 32px;
                }
                p {
                    font-size: 20px;
                }
                .btn-shopnow {
                    width: 100%;
                    padding: 9px;
                }
            }
        }
    }
    .main {
        padding: 40px 15px;
        display: flex;
        flex-direction: column;
        .card {
            flex-wrap: wrap;
            .card-text {
                width: 100%;
                padding: 8px 0 32px;
                order: 2;
                .textBox {
                    width: 90%;
                    p {
                        margin-bottom: 8px;
                    }
                    .btn-freeTrain {
                        width: 100%;
                        padding: 15px;
                    }
                }
            }
            .card-photo {
                width: 100%;
                height: 350px;
                order: 1;
                img {
                    max-height: 350px;
                }
            }
        }
        li:nth-child(4) .card-photo{
            height: 680px;
            img {
                max-height: 680px;
                object-position: 50% 75%;
            }
        }
    }
    .bestselling {
        padding: 30px 15px;
        flex-direction: column;
        gap: 32px;
        .bestselling-item {
            width: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 540px;
                margin-top: -30%;
            }
            .mask::before {
                top: 68%;
            }
        }
    }
    .news {
        padding: 40px 15px;
        flex-direction: column;
        gap: 8px;
        .news-photo {
            width: 100%;
            img {
                height: 520px;
            }
        }
        .news-text {
            width: 100%;
            p {
                margin-bottom: 8px;
            }
        }
    }
    .input {
        &-email {
            width: 66.66%;
        }
        .btn-subscribe {
            width: 33.33%;
        }
    }
    .subnavBox {
        display: none;
    }

}