/* --- banner 橫幅 --- */
.banner {
    height: 870px;
    background-image: url("https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2064&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .wrap {
        padding: 295px 0;
        height: 100%;
        .slogan {
            max-width: 445px;
            .btn-shopnow {
                padding: 9px 109px;
                border: 2px solid #FFFFFF;
                border-radius: 30px;
                &:hover {
                    background-color: $color-primary;
                    border: 2px solid $color-primary;
                }
            }
        }
    }
}

/* --- main 主頁 --- */
.main {
    padding: 60px 0;
    .card {
        width: 100%;
        .card-text {
            width: 50%;
            .textBox {
                text-align: left;
                width: 63%;
                .btn-freeTrain {
                    padding: 15px 52px;
                    border: 2px solid #000000;
                    border-radius: 30px;
                    &:hover {
                        color: #FFFFFF;
                        background-color: $color-primary;
                        border: 2px solid $color-primary;
                    }
                }
            }
        }
        .card-photo {
            width: 50%;
            height: 555px;
            overflow: hidden;
            a:hover {
                transform: scale(1.2);
                transition: all 0.5s ease-in-out;
            }
        }
    }
    li:nth-child(1) img {
        height: 740px;
        object-position: 0 -30px;
    }
    li:nth-child(2) img {
        width: 555px;
        object-position: 0 -30px;
    }
    li:nth-child(3) img {
        height: 555px;
        object-position: 0 50%;
    } 
    li:nth-child(4) .card-photo,
    li:nth-child(4) .card-photo img {
        height: 1080px;
    } 
}

/* --- bestselling 熱門 --- */
.bestselling {
    padding: 40px 0;
    .bestselling-item {
        width: 33.33%;
        overflow: hidden;
        a {
            color: #000000;
        }
        img {
            height: 540px;
            object-position: 50% 50%;
        }
        .mask {
            position: relative;
            width: 100%;
            height: 540px;
            margin-bottom: 8px;
            &::before {
                content:"Sold out";
                position: absolute;
                font-size: 24px;
                font-weight: 600;
                color: #FFFFFF;
                text-align: center;
                top: 50%;
                right: 0;
                bottom: 50%;
                left: 0;
                z-index: 3;
            }
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #000000;
                opacity: 0.3;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
    }
    li:nth-child(2) li:last-child,
    li:nth-child(3) li:last-child {
        display: none;
    }
}

/* --- news 消息 --- */
.news {
    padding: 60px 0; 
    .news-photo {
        width: 66.66%;
        img {
            height: 520px;
        }
    }   
    .news-text {
        width: 33.33%;
    }
}

@media (max-width: 992px) {
    .banner .wrap {
        padding: 295px 15px;
    }
    .main .card .card-text .btn-freeTrain {
        width: 100%;
        padding: 15px;
    }
    .main .card-text .textBox {
        width: 73%;
        p {
            margin-bottom: 20px;
        }
    }
    .bestselling {
        padding: 40px 15px;
    }
    .news {
        padding: 60px 15px;
    }
}

@media (max-width: 767px) {
    .banner {
        height: 480px;
        .wrap {
            padding: 118px 15px;
            .slogan {
                margin: 0 auto;
                h2 {
                    font-size: 32px;
                }
                p {
                    font-size: 20px;
                }
                .btn-shopnow {
                    width: 100%;
                    padding: 9px;
                }
            }
        }
    }
    .main {
        padding: 40px 15px;
        display: flex;
        flex-direction: column;
        .card {
            flex-wrap: wrap;
            .card-text {
                width: 100%;
                padding: 8px 0 32px;
                order: 2;
                .textBox {
                    width: 93%;
                    p {
                        margin-bottom: 8px;
                    }
                    .btn-freeTrain {
                        width: 100%;
                        padding: 15px;
                    }
                }
            }
            .card-photo {
                width: 100%;
                order: 1;
            }
        }
        li:nth-child(1) img {
            width: 737px;
        }
        li:nth-child(2) img {
            width: 737px;
            object-position: 0 -150px;
        }
        li:nth-child(3) img {
            height: 737px;
            object-position: 0 0;
        }
        li:nth-child(4) img {
            width: 737px;
        }
    }
    .bestselling {
        padding: 30px 15px;
        flex-direction: column;
        .bestselling-item {
            width: 100%;
            padding: 0 0 20px;
            overflow: hidden;
            img {
                width: 737px;
            }
            p {
                margin-bottom: 4px;
            }
            .mask {
                height: 660px;
            }
        }
        li:nth-child(3) img {
            height: 660px;
        }
    }
    .news {
        padding: 40px 15px;
        flex-direction: column;
        justify-content: center;
        .news-photo {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 8px;
        }
        .news-text {
            width: 100%;
            p {
                margin-bottom: 8px;
            }
        }
    }
}