/* --- menu 選單 --- */
.menu {
    padding: 14px 0;
}
.product {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 58px;
    .product-item > .item-photo {
        width: 255px;
        height: 255px;
        overflow: hidden;
        img {
            width: 500px;
        }
    }
}
