/* --- header 表頭 --- */
.menu {
    display: flex;
    gap: 28px;
    button {
        padding: 14px;
    }
    li:nth-child(1) button{
        padding: 14px 14px 14px 0;
    }
}
.product {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 58px;
    .item-product > .photoBox {
        width: 255px;
        height: 255px;
        overflow: hidden;
        img {
            width: 500px;
        }
    }
}
