/* === 01 flex ====== */

.d-flex {
    display: flex;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.me-auto {
    margin-right: 0 auto;
}

/* === 02 margin ====== */

/* --- 02-1. margin-right (4的倍數) --- */
.mr-1 {
    margin-right: 4px;
}
.mr-2 {
    margin-right: 8px;
}
.mr-5 {
    margin-right: 20px;
}
.mr-7 {
    margin-right: 28px;
}
.mr-8 {
    margin-right: 32px;
}

/* --- 02-2. margin-bottom (4的倍數) --- */
.mb-1 {
    margin-bottom: 4px;
}
.mb-2 {
    margin-bottom: 8px;
}
.mb-4 {
    margin-bottom: 16px;
}
.mb-5 {
    margin-bottom: 20px;
}
.mb-13 {
    margin-bottom: 52px;
}
.mb-15 {
    margin-bottom: 60px;
}

/* === 03 刪除線 ====== */

.text-decoration-line-through {
    text-decoration: line-through;
}