/* === 01 顏色 ====== */

/* --- 01-1. 色系 --- */
$color-primary: #916019;
$color-secondary: #8D8D8D;
$color-link: #AC8A46;

/* --- 01-2. 背景色 --- */
.bg-primary {
    background-color: $color-primary;
}
.bg-light {
    background-color: #E0E0E0;
}
/* --- 01-3. 文字顏色 --- */
.color-primary {
    color: $color-primary;
}
.color-secondary {
    color: $color-secondary;
}
.color-link {
    color: $color-link;
}
.black {
    color: #000000;
}
.white {
    color: #FFFFFF;
}

/* === 02 字體 ====== */

/* --- 02-1. 字級 --- */
.fs-0 {
    font-size: 12px;
}
.fs-1 {
    font-size: 14px;
}
.fs-2 {
    font-size: 20px;
}
.fs-3 {
    font-size: 24px;
}
.fs-4 {
    font-size: 28px;
}
.fs-5 {
    font-size: 32px;
}
.fs-6 {
    font-size: 40px;
}

/* --- 02-2. 字重 --- */
.fw-light {
    font-weight: 300;
}
.fw-medium {
    font-weight: 500;
}
.fw-semibold {
    font-weight: 600;
}
.fw-bold {
    font-weight: 700;
}

/* === 03 border-box ====== */

*,*::before,*::after {
    box-sizing: border-box;
}
/* {
    outline: 1px solid yellowgreen;
}*/

/* === 04 全站樣式 ====== */

body {
    font-family: "SF Pro Text", "PingFang TC", "Segoe UI", sans-serif;
    line-height: 1.5;
    color: #000000;
}
.wrap {
    max-width: 1110px;
    margin: 0 auto;
}
.material-icons {
    vertical-align: middle;
    font-size: 20px;
}